/* line 17, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'ColaborativaSemibold';
  src: url("fonts/colaborativasemibold-webfont.eot");
  src: url("fonts/colaborativasemibold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/colaborativasemibold-webfont.woff") format("woff"), url("fonts/colaborativasemibold-webfont.ttf") format("truetype"), url("fonts/colaborativasemibold-webfont.svg#ColaborativaSemiboldRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'colaborativaBook';
  src: url("fonts/colaborativabook-webfont.eot");
  src: url("fonts/colaborativabook-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/colaborativabook-webfont.woff") format("woff"), url("fonts/colaborativabook-webfont.ttf") format("truetype"), url("fonts/colaborativabook-webfont.svgz#colaborativaBook") format("svg"), url("fonts/colaborativabook-webfont.svg#colaborativaBook") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'colaborativaMedium';
  src: url("fonts/colaborativamedium-webfont.eot");
  src: url("fonts/colaborativamedium-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/colaborativamedium-webfont.woff") format("woff"), url("fonts/colaborativamedium-webfont.ttf") format("truetype"), url("fonts/colaborativamedium-webfont.svgz#colaborativaMedium") format("svg"), url("fonts/colaborativamedium-webfont.svg#colaborativaMedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'colaborativaMediumItalic';
  src: url("fonts/colaborativamediumitalic-webfont.eot");
  src: url("fonts/colaborativamediumitalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/colaborativamediumitalic-webfont.woff") format("woff"), url("fonts/colaborativamediumitalic-webfont.ttf") format("truetype"), url("fonts/colaborativamediumitalic-webfont.svgz#colaborativaMediumItalic") format("svg"), url("fonts/colaborativamediumitalic-webfont.svg#colaborativaMediumItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'colaborativaLight';
  src: url("fonts/colaborativa-light-webfont.eot");
  src: url("fonts/colaborativa-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/colaborativa-light-webfont.woff") format("woff"), url("fonts/colaborativa-light-webfont.ttf") format("truetype"), url("fonts/colaborativa-light-webfont.svgz#colaborativa-light") format("svg"), url("fonts/colaborativa-light-webfont.svg#colaborativa-light") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'colaborativa-icons';
  src: url("fonts/colaborativa-icons-regular-webfont.eot");
  src: url("fonts/colaborativa-icons-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/colaborativa-icons-regular-webfont.woff") format("woff"), url("fonts/colaborativa-icons-regular-webfont.ttf") format("truetype"), url("fonts/colaborativa-icons-regular-webfont.svg#colaborativa-iconsRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DroidSansRegular';
  src: url("fonts/DroidSans-webfont.eot");
  src: url("fonts/DroidSans-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/DroidSans-webfont.woff") format("woff"), url("fonts/DroidSans-webfont.ttf") format("truetype"), url("fonts/DroidSans-webfont.svg#DroidSansRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DroidSansBold';
  src: url("fonts/DroidSans-Bold-webfont.eot");
  src: url("fonts/DroidSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/DroidSans-Bold-webfont.woff") format("woff"), url("fonts/DroidSans-Bold-webfont.ttf") format("truetype"), url("fonts/DroidSans-Bold-webfont.svg#DroidSansBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 150, ../sass/_cabecerapaginaResponsive.scss */
.imagenes .cabeceraPagina {
  background-color: rgba(0, 0, 0, 0.7);
  background-image: none;
}
/* line 155, ../sass/_cabecerapaginaResponsive.scss */
.imagenes .cabeceraPagina .tituloMenuBusqueda .hero a {
  color: white;
  text-shadow: none;
}
/* line 161, ../sass/_cabecerapaginaResponsive.scss */
.imagenes .cabeceraPagina .tituloMenuBusqueda .menu a {
  color: white;
  text-shadow: none;
}

/* line 13, ../sass/_cabecerapaginaResponsive.scss */
html body.light .funnyline {
  width: 100%;
  height: 63px;
  border-bottom: 1px solid rgba(40, 40, 40, 0.2);
}
/* line 18, ../sass/_cabecerapaginaResponsive.scss */
html body.light .cabeceraPagina {
  position: relative;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(210, 210, 210, 0.7)), color-stop(100%, rgba(210, 210, 210, 0)));
  background: -webkit-linear-gradient(rgba(210, 210, 210, 0.7), rgba(210, 210, 210, 0));
  background: -moz-linear-gradient(rgba(210, 210, 210, 0.7), rgba(210, 210, 210, 0));
  background: -o-linear-gradient(rgba(210, 210, 210, 0.7), rgba(210, 210, 210, 0));
  background: -ms-linear-gradient(rgba(210, 210, 210, 0.7), rgba(210, 210, 210, 0));
  background: linear-gradient(rgba(210, 210, 210, 0.7), rgba(210, 210, 210, 0));
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  z-index: 500;
  height: 90px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
/* line 19, ../sass/_cabecerapaginaResponsive.scss */
html body.light .cabeceraPagina a:link, html body.light .cabeceraPagina a:visited, html body.light .cabeceraPagina a:active {
  color: #393939;
  text-decoration: none;
}
/* line 23, ../sass/_cabecerapaginaResponsive.scss */
html body.light .cabeceraPagina a:link {
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
/* line 26, ../sass/_cabecerapaginaResponsive.scss */
html body.light .cabeceraPagina a:hover, html body.light .cabeceraPagina a:hover.active {
  color: #00a9da;
  text-shadow: rgba(255, 255, 255, 0.1) 0 0 2px, 0 0 10px rgba(255, 255, 255, 0.2), 0 0 30px rgba(255, 255, 255, 0.5);
}
/* line 37, ../sass/_cabecerapaginaResponsive.scss */
html body.light .cabeceraPagina.fixed {
  position: fixed;
  top: 0px;
  left: 0px;
}
/* line 41, ../sass/_cabecerapaginaResponsive.scss */
html body.light .cabeceraPagina.fixed .tituloMenuBusqueda {
  position: absolute;
  bottom: 0px;
  top: 0px;
}
/* line 55, ../sass/_cabecerapaginaResponsive.scss */
html body.light .cabeceraPagina .contenedor {
  position: absolute;
  left: 50%;
  top: 0px;
  height: 90px;
  padding: 0px;
}
/* line 61, ../sass/_cabecerapaginaResponsive.scss */
html body.light .cabeceraPagina .contenedor .tituloMenuBusqueda {
  position: absolute;
  top: 30px;
  display: table;
}
/* line 65, ../sass/_cabecerapaginaResponsive.scss */
html body.light .cabeceraPagina .contenedor .tituloMenuBusqueda h1 {
  color: #393939;
  font: 24px/50px "colaborativasemibold";
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table-cell;
  vertical-align: middle;
  padding-top: 1px;
  width: 15%;
  resize: none;
  text-shadow: 0 1px #ffffff;
}
/* line 80, ../sass/_cabecerapaginaResponsive.scss */
html body.light .cabeceraPagina .contenedor .tituloMenuBusqueda nav {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table-cell;
  vertical-align: middle;
  width: 55%;
  /* esto sirve para alinear perfectamente el titulo */
  padding-top: 8px;
  padding-right: 15px;
  padding-left: 15px;
}
/* line 89, ../sass/_cabecerapaginaResponsive.scss */
html body.light .cabeceraPagina .contenedor .tituloMenuBusqueda nav h2 {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6 & 7 */
  clip: rect(1px, 1px, 1px, 1px);
}
/* line 92, ../sass/_cabecerapaginaResponsive.scss */
html body.light .cabeceraPagina .contenedor .tituloMenuBusqueda nav h3 {
  margin-top: 11px;
  margin-bottom: 14px;
  font: 18px/23px "colaborativasemibold";
  color: #393939;
  text-shadow: 0 1px #ffffff;
}
/* line 104, ../sass/_cabecerapaginaResponsive.scss */
html body.light .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu li {
  display: inline-block;
  width: 22%;
  text-align: center;
  margin: 0;
  padding: 0;
}
/* line 110, ../sass/_cabecerapaginaResponsive.scss */
html body.light .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu li a {
  padding: 3px 15px 3px 10px;
}
/* line 112, ../sass/_cabecerapaginaResponsive.scss */
html body.light .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu li a::before {
  font: 25px "colaborativa-icons";
  padding-right: 6px;
  position: relative;
  top: 3px;
}
/* line 120, ../sass/_cabecerapaginaResponsive.scss */
html body.light .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu li.idioma {
  display: inline-block;
  width: 8%;
  text-align: right;
  margin: 0;
  padding: 0;
}
/* line 127, ../sass/_cabecerapaginaResponsive.scss */
html body.light .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu .menuBlog:before {
  content: "\f011";
}
/* line 130, ../sass/_cabecerapaginaResponsive.scss */
html body.light .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu .menuProyectos:before {
  content: "\f013";
}
/* line 133, ../sass/_cabecerapaginaResponsive.scss */
html body.light .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu .menuEquipo:before {
  content: "\f012";
}

/* line 13, ../sass/_cabecerapaginaResponsive.scss */
html body.dark .funnyline {
  width: 100%;
  height: 63px;
  border-bottom: 1px solid rgba(210, 210, 210, 0.4);
}
/* line 18, ../sass/_cabecerapaginaResponsive.scss */
html body.dark .cabeceraPagina {
  position: relative;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.7)), color-stop(100%, rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  background: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  background: -ms-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  z-index: 500;
  height: 90px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
/* line 19, ../sass/_cabecerapaginaResponsive.scss */
html body.dark .cabeceraPagina a:link, html body.dark .cabeceraPagina a:visited, html body.dark .cabeceraPagina a:active {
  color: white;
  text-decoration: none;
}
/* line 23, ../sass/_cabecerapaginaResponsive.scss */
html body.dark .cabeceraPagina a:link {
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
/* line 26, ../sass/_cabecerapaginaResponsive.scss */
html body.dark .cabeceraPagina a:hover, html body.dark .cabeceraPagina a:hover.active {
  color: white;
  text-shadow: rgba(255, 255, 255, 0.7) 0 0 2px, 0 0 10px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.3);
}
/* line 37, ../sass/_cabecerapaginaResponsive.scss */
html body.dark .cabeceraPagina.fixed {
  position: fixed;
  top: 0px;
  left: 0px;
}
/* line 41, ../sass/_cabecerapaginaResponsive.scss */
html body.dark .cabeceraPagina.fixed .tituloMenuBusqueda {
  position: absolute;
  bottom: 0px;
  top: 0px;
}
/* line 55, ../sass/_cabecerapaginaResponsive.scss */
html body.dark .cabeceraPagina .contenedor {
  position: absolute;
  left: 50%;
  top: 0px;
  height: 90px;
  padding: 0px;
}
/* line 61, ../sass/_cabecerapaginaResponsive.scss */
html body.dark .cabeceraPagina .contenedor .tituloMenuBusqueda {
  position: absolute;
  top: 30px;
  display: table;
}
/* line 65, ../sass/_cabecerapaginaResponsive.scss */
html body.dark .cabeceraPagina .contenedor .tituloMenuBusqueda h1 {
  color: white;
  font: 24px/50px "colaborativasemibold";
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table-cell;
  vertical-align: middle;
  padding-top: 1px;
  width: 15%;
  resize: none;
  text-shadow: none;
}
/* line 80, ../sass/_cabecerapaginaResponsive.scss */
html body.dark .cabeceraPagina .contenedor .tituloMenuBusqueda nav {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table-cell;
  vertical-align: middle;
  width: 55%;
  /* esto sirve para alinear perfectamente el titulo */
  padding-top: 8px;
  padding-right: 15px;
  padding-left: 15px;
}
/* line 89, ../sass/_cabecerapaginaResponsive.scss */
html body.dark .cabeceraPagina .contenedor .tituloMenuBusqueda nav h2 {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6 & 7 */
  clip: rect(1px, 1px, 1px, 1px);
}
/* line 92, ../sass/_cabecerapaginaResponsive.scss */
html body.dark .cabeceraPagina .contenedor .tituloMenuBusqueda nav h3 {
  margin-top: 11px;
  margin-bottom: 14px;
  font: 18px/23px "colaborativasemibold";
  color: white;
  text-shadow: none;
}
/* line 104, ../sass/_cabecerapaginaResponsive.scss */
html body.dark .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu li {
  display: inline-block;
  width: 22%;
  text-align: center;
  margin: 0;
  padding: 0;
}
/* line 110, ../sass/_cabecerapaginaResponsive.scss */
html body.dark .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu li a {
  padding: 3px 15px 3px 10px;
}
/* line 112, ../sass/_cabecerapaginaResponsive.scss */
html body.dark .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu li a::before {
  font: 25px "colaborativa-icons";
  padding-right: 6px;
  position: relative;
  top: 3px;
}
/* line 120, ../sass/_cabecerapaginaResponsive.scss */
html body.dark .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu li.idioma {
  display: inline-block;
  width: 8%;
  text-align: right;
  margin: 0;
  padding: 0;
}
/* line 127, ../sass/_cabecerapaginaResponsive.scss */
html body.dark .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu .menuBlog:before {
  content: "\f011";
}
/* line 130, ../sass/_cabecerapaginaResponsive.scss */
html body.dark .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu .menuProyectos:before {
  content: "\f013";
}
/* line 133, ../sass/_cabecerapaginaResponsive.scss */
html body.dark .cabeceraPagina .contenedor .tituloMenuBusqueda nav .menu .menuEquipo:before {
  content: "\f012";
}

@media (max-width: 989px) {
  /* line 173, ../sass/_cabecerapaginaResponsive.scss */
  body .cabeceraPagina {
    min-width: 768px;
  }
  /* line 175, ../sass/_cabecerapaginaResponsive.scss */
  body .cabeceraPagina .contenedor {
    margin-left: -364px;
    width: 728px;
  }
}
@media (min-width: 990px) {
  /* line 173, ../sass/_cabecerapaginaResponsive.scss */
  body .cabeceraPagina {
    min-width: 980px;
  }
  /* line 175, ../sass/_cabecerapaginaResponsive.scss */
  body .cabeceraPagina .contenedor {
    margin-left: -470px;
    width: 940px;
  }
}
@media (min-width: 1240px) {
  /* line 173, ../sass/_cabecerapaginaResponsive.scss */
  body .cabeceraPagina {
    min-width: 1230px;
  }
  /* line 175, ../sass/_cabecerapaginaResponsive.scss */
  body .cabeceraPagina .contenedor {
    margin-left: -585px;
    width: 1170px;
  }
}
/* line 11, ../sass/_footerpaginaResponsive.scss */
html body.light .footerGradient {
  width: 100%;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(210, 210, 210, 0)), color-stop(100%, rgba(210, 210, 210, 0.7)));
  background: -webkit-linear-gradient(rgba(210, 210, 210, 0), rgba(210, 210, 210, 0.7));
  background: -moz-linear-gradient(rgba(210, 210, 210, 0), rgba(210, 210, 210, 0.7));
  background: -o-linear-gradient(rgba(210, 210, 210, 0), rgba(210, 210, 210, 0.7));
  background: -ms-linear-gradient(rgba(210, 210, 210, 0), rgba(210, 210, 210, 0.7));
  background: linear-gradient(rgba(210, 210, 210, 0), rgba(210, 210, 210, 0.7));
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  height: 90px;
  clear: both;
  z-index: 50;
}
/* line 21, ../sass/_footerpaginaResponsive.scss */
html body.light footer {
  z-index: 50;
  background-color: rgba(210, 210, 210, 0.7);
}
/* line 24, ../sass/_footerpaginaResponsive.scss */
html body.light footer a:link, html body.light footer a:visited, html body.light footer a:active {
  color: #393939;
  text-decoration: none;
}
/* line 28, ../sass/_footerpaginaResponsive.scss */
html body.light footer .contenedor {
  margin: auto;
  padding-bottom: 50px;
}
/* line 31, ../sass/_footerpaginaResponsive.scss */
html body.light footer .contenedor .datosContacto {
  display: table;
  width: 100%;
}
/* line 34, ../sass/_footerpaginaResponsive.scss */
html body.light footer .contenedor .datosContacto .emailTelAddress {
  display: table-cell;
}
/* line 37, ../sass/_footerpaginaResponsive.scss */
html body.light footer .contenedor .datosContacto .anade {
  display: table-cell;
}
/* line 40, ../sass/_footerpaginaResponsive.scss */
html body.light footer .contenedor .datosContacto p {
  font: 18px/23px "colaborativasemibold";
}
/* line 42, ../sass/_footerpaginaResponsive.scss */
html body.light footer .contenedor .datosContacto p a:link, html body.light footer .contenedor .datosContacto p a:visited {
  color: #393939;
  opacity: 0.8;
}
/* line 45, ../sass/_footerpaginaResponsive.scss */
html body.light footer .contenedor .datosContacto p a:link:hover, html body.light footer .contenedor .datosContacto p a:visited:hover {
  color: #393939;
  opacity: 1;
}
/* line 49, ../sass/_footerpaginaResponsive.scss */
html body.light footer .contenedor .datosContacto p a:link:active, html body.light footer .contenedor .datosContacto p a:visited:active {
  color: #393939;
  opacity: 1;
}
/* line 54, ../sass/_footerpaginaResponsive.scss */
html body.light footer .contenedor .datosContacto p a:before, html body.light footer .contenedor .datosContacto p a:after {
  font: 30px "colaborativa-icons";
  padding-right: 0px;
  position: relative;
  top: 4px;
}
/* line 60, ../sass/_footerpaginaResponsive.scss */
html body.light footer .contenedor .datosContacto p a.mail:before {
  content: "\f002";
}
/* line 63, ../sass/_footerpaginaResponsive.scss */
html body.light footer .contenedor .datosContacto p a.tel:before {
  content: "\f004";
}
/* line 66, ../sass/_footerpaginaResponsive.scss */
html body.light footer .contenedor .datosContacto p a.address:before {
  content: "\f001";
}
/* line 69, ../sass/_footerpaginaResponsive.scss */
html body.light footer .contenedor .datosContacto p a.anade:after {
  content: "\f041";
}
/* line 74, ../sass/_footerpaginaResponsive.scss */
html body.light footer .contenedor .enlacesExternos {
  padding: 20px 0px 24px 0px;
  display: table;
  margin: auto;
}
/* line 78, ../sass/_footerpaginaResponsive.scss */
html body.light footer .contenedor .enlacesExternos .enlacesSociales {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
/* line 83, ../sass/_footerpaginaResponsive.scss */
html body.light footer .contenedor .enlacesExternos .enlacesSociales:first-child {
  margin-right: 50px;
}
/* line 86, ../sass/_footerpaginaResponsive.scss */
html body.light footer .contenedor .enlacesExternos .enlacesSociales:last-child {
  margin-left: 50px;
}
/* line 89, ../sass/_footerpaginaResponsive.scss */
html body.light footer .contenedor .enlacesExternos .enlacesSociales div {
  display: inline-block;
  width: 100px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
/* line 96, ../sass/_footerpaginaResponsive.scss */
html body.light footer .contenedor .enlacesExternos .enlacesSociales a:link, html body.light footer .contenedor .enlacesExternos .enlacesSociales a:visited {
  color: #393939;
  opacity: 0.6;
}
/* line 99, ../sass/_footerpaginaResponsive.scss */
html body.light footer .contenedor .enlacesExternos .enlacesSociales a:link:hover, html body.light footer .contenedor .enlacesExternos .enlacesSociales a:visited:hover {
  color: #393939;
  opacity: 0.8;
}
/* line 103, ../sass/_footerpaginaResponsive.scss */
html body.light footer .contenedor .enlacesExternos .enlacesSociales a:link:active, html body.light footer .contenedor .enlacesExternos .enlacesSociales a:visited:active {
  color: #393939;
  opacity: 0.8;
}
/* line 108, ../sass/_footerpaginaResponsive.scss */
html body.light footer .contenedor .enlacesExternos .enlacesSociales a.enlaceExterno {
  font: 14px/14px "DroidSansRegular", Arial, Helvetica, Geneva, sans-serif;
  width: 100px;
  display: block;
}
/* line 113, ../sass/_footerpaginaResponsive.scss */
html body.light footer .contenedor .enlacesExternos .enlacesSociales a.enlaceExterno.sociales {
  text-align: left;
}
/* line 116, ../sass/_footerpaginaResponsive.scss */
html body.light footer .contenedor .enlacesExternos .enlacesSociales a.enlaceExterno.recursos {
  text-align: right;
}
/* line 119, ../sass/_footerpaginaResponsive.scss */
html body.light footer .contenedor .enlacesExternos .enlacesSociales a.enlaceExterno.sociales:before, html body.light footer .contenedor .enlacesExternos .enlacesSociales a.enlaceExterno.recursos:after {
  font: 30px "colaborativa-icons";
  padding-right: 0px;
  position: relative;
  top: 4px;
}
/* line 125, ../sass/_footerpaginaResponsive.scss */
html body.light footer .contenedor .enlacesExternos .enlacesSociales a.enlaceExterno[href*='twitter.com']:before {
  content: "\f028";
}
/* line 128, ../sass/_footerpaginaResponsive.scss */
html body.light footer .contenedor .enlacesExternos .enlacesSociales a.enlaceExterno[href*='facebook.com']:before {
  content: "\f023";
}
/* line 131, ../sass/_footerpaginaResponsive.scss */
html body.light footer .contenedor .enlacesExternos .enlacesSociales a.enlaceExterno[href*='linkedin.com']:before {
  content: "\f027";
}
/* line 134, ../sass/_footerpaginaResponsive.scss */
html body.light footer .contenedor .enlacesExternos .enlacesSociales a.enlaceExterno[href*='youtube.com']:after {
  content: "\f029";
}
/* line 137, ../sass/_footerpaginaResponsive.scss */
html body.light footer .contenedor .enlacesExternos .enlacesSociales a.enlaceExterno[href*='github.com']:after {
  content: "\f006";
}
/* line 140, ../sass/_footerpaginaResponsive.scss */
html body.light footer .contenedor .enlacesExternos .enlacesSociales a.enlaceExterno[href*='flickr.com']:after {
  content: "\f024";
}
/* line 143, ../sass/_footerpaginaResponsive.scss */
html body.light footer .contenedor .enlacesExternos .enlacesSociales a.enlaceExterno[href*='issuu.com']:after {
  content: "\f026";
}
/* line 148, ../sass/_footerpaginaResponsive.scss */
html body.light footer .contenedor .credits {
  height: 32px;
}
/* line 150, ../sass/_footerpaginaResponsive.scss */
html body.light footer .contenedor .credits p {
  font: 12px/16px "DroidSansRegular", Arial, Helvetica, Geneva, sans-serif;
  text-align: center;
  color: #393939;
  opacity: 0.6;
}
/* line 155, ../sass/_footerpaginaResponsive.scss */
html body.light footer .contenedor .credits p a:link, html body.light footer .contenedor .credits p a:visited {
  color: #393939;
  opacity: 0.8;
}
/* line 158, ../sass/_footerpaginaResponsive.scss */
html body.light footer .contenedor .credits p a:link:hover, html body.light footer .contenedor .credits p a:visited:hover {
  color: #393939;
  opacity: 1;
}
/* line 162, ../sass/_footerpaginaResponsive.scss */
html body.light footer .contenedor .credits p a:link:active, html body.light footer .contenedor .credits p a:visited:active {
  color: #393939;
  opacity: 1;
}

/* line 11, ../sass/_footerpaginaResponsive.scss */
html body.dark .footerGradient {
  width: 100%;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.7)));
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  background: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  background: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  background: -ms-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  height: 90px;
  clear: both;
  z-index: 50;
}
/* line 21, ../sass/_footerpaginaResponsive.scss */
html body.dark footer {
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.7);
}
/* line 24, ../sass/_footerpaginaResponsive.scss */
html body.dark footer a:link, html body.dark footer a:visited, html body.dark footer a:active {
  color: white;
  text-decoration: none;
}
/* line 28, ../sass/_footerpaginaResponsive.scss */
html body.dark footer .contenedor {
  margin: auto;
  padding-bottom: 50px;
}
/* line 31, ../sass/_footerpaginaResponsive.scss */
html body.dark footer .contenedor .datosContacto {
  display: table;
  width: 100%;
}
/* line 34, ../sass/_footerpaginaResponsive.scss */
html body.dark footer .contenedor .datosContacto .emailTelAddress {
  display: table-cell;
}
/* line 37, ../sass/_footerpaginaResponsive.scss */
html body.dark footer .contenedor .datosContacto .anade {
  display: table-cell;
}
/* line 40, ../sass/_footerpaginaResponsive.scss */
html body.dark footer .contenedor .datosContacto p {
  font: 18px/23px "colaborativasemibold";
}
/* line 42, ../sass/_footerpaginaResponsive.scss */
html body.dark footer .contenedor .datosContacto p a:link, html body.dark footer .contenedor .datosContacto p a:visited {
  color: white;
  opacity: 0.8;
}
/* line 45, ../sass/_footerpaginaResponsive.scss */
html body.dark footer .contenedor .datosContacto p a:link:hover, html body.dark footer .contenedor .datosContacto p a:visited:hover {
  color: white;
  opacity: 1;
}
/* line 49, ../sass/_footerpaginaResponsive.scss */
html body.dark footer .contenedor .datosContacto p a:link:active, html body.dark footer .contenedor .datosContacto p a:visited:active {
  color: white;
  opacity: 1;
}
/* line 54, ../sass/_footerpaginaResponsive.scss */
html body.dark footer .contenedor .datosContacto p a:before, html body.dark footer .contenedor .datosContacto p a:after {
  font: 30px "colaborativa-icons";
  padding-right: 0px;
  position: relative;
  top: 4px;
}
/* line 60, ../sass/_footerpaginaResponsive.scss */
html body.dark footer .contenedor .datosContacto p a.mail:before {
  content: "\f002";
}
/* line 63, ../sass/_footerpaginaResponsive.scss */
html body.dark footer .contenedor .datosContacto p a.tel:before {
  content: "\f004";
}
/* line 66, ../sass/_footerpaginaResponsive.scss */
html body.dark footer .contenedor .datosContacto p a.address:before {
  content: "\f001";
}
/* line 69, ../sass/_footerpaginaResponsive.scss */
html body.dark footer .contenedor .datosContacto p a.anade:after {
  content: "\f041";
}
/* line 74, ../sass/_footerpaginaResponsive.scss */
html body.dark footer .contenedor .enlacesExternos {
  padding: 20px 0px 24px 0px;
  display: table;
  margin: auto;
}
/* line 78, ../sass/_footerpaginaResponsive.scss */
html body.dark footer .contenedor .enlacesExternos .enlacesSociales {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
/* line 83, ../sass/_footerpaginaResponsive.scss */
html body.dark footer .contenedor .enlacesExternos .enlacesSociales:first-child {
  margin-right: 50px;
}
/* line 86, ../sass/_footerpaginaResponsive.scss */
html body.dark footer .contenedor .enlacesExternos .enlacesSociales:last-child {
  margin-left: 50px;
}
/* line 89, ../sass/_footerpaginaResponsive.scss */
html body.dark footer .contenedor .enlacesExternos .enlacesSociales div {
  display: inline-block;
  width: 100px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
/* line 96, ../sass/_footerpaginaResponsive.scss */
html body.dark footer .contenedor .enlacesExternos .enlacesSociales a:link, html body.dark footer .contenedor .enlacesExternos .enlacesSociales a:visited {
  color: white;
  opacity: 0.6;
}
/* line 99, ../sass/_footerpaginaResponsive.scss */
html body.dark footer .contenedor .enlacesExternos .enlacesSociales a:link:hover, html body.dark footer .contenedor .enlacesExternos .enlacesSociales a:visited:hover {
  color: white;
  opacity: 0.8;
}
/* line 103, ../sass/_footerpaginaResponsive.scss */
html body.dark footer .contenedor .enlacesExternos .enlacesSociales a:link:active, html body.dark footer .contenedor .enlacesExternos .enlacesSociales a:visited:active {
  color: white;
  opacity: 0.8;
}
/* line 108, ../sass/_footerpaginaResponsive.scss */
html body.dark footer .contenedor .enlacesExternos .enlacesSociales a.enlaceExterno {
  font: 14px/14px "DroidSansRegular", Arial, Helvetica, Geneva, sans-serif;
  width: 100px;
  display: block;
}
/* line 113, ../sass/_footerpaginaResponsive.scss */
html body.dark footer .contenedor .enlacesExternos .enlacesSociales a.enlaceExterno.sociales {
  text-align: left;
}
/* line 116, ../sass/_footerpaginaResponsive.scss */
html body.dark footer .contenedor .enlacesExternos .enlacesSociales a.enlaceExterno.recursos {
  text-align: right;
}
/* line 119, ../sass/_footerpaginaResponsive.scss */
html body.dark footer .contenedor .enlacesExternos .enlacesSociales a.enlaceExterno.sociales:before, html body.dark footer .contenedor .enlacesExternos .enlacesSociales a.enlaceExterno.recursos:after {
  font: 30px "colaborativa-icons";
  padding-right: 0px;
  position: relative;
  top: 4px;
}
/* line 125, ../sass/_footerpaginaResponsive.scss */
html body.dark footer .contenedor .enlacesExternos .enlacesSociales a.enlaceExterno[href*='twitter.com']:before {
  content: "\f028";
}
/* line 128, ../sass/_footerpaginaResponsive.scss */
html body.dark footer .contenedor .enlacesExternos .enlacesSociales a.enlaceExterno[href*='facebook.com']:before {
  content: "\f023";
}
/* line 131, ../sass/_footerpaginaResponsive.scss */
html body.dark footer .contenedor .enlacesExternos .enlacesSociales a.enlaceExterno[href*='linkedin.com']:before {
  content: "\f027";
}
/* line 134, ../sass/_footerpaginaResponsive.scss */
html body.dark footer .contenedor .enlacesExternos .enlacesSociales a.enlaceExterno[href*='youtube.com']:after {
  content: "\f029";
}
/* line 137, ../sass/_footerpaginaResponsive.scss */
html body.dark footer .contenedor .enlacesExternos .enlacesSociales a.enlaceExterno[href*='github.com']:after {
  content: "\f006";
}
/* line 140, ../sass/_footerpaginaResponsive.scss */
html body.dark footer .contenedor .enlacesExternos .enlacesSociales a.enlaceExterno[href*='flickr.com']:after {
  content: "\f024";
}
/* line 143, ../sass/_footerpaginaResponsive.scss */
html body.dark footer .contenedor .enlacesExternos .enlacesSociales a.enlaceExterno[href*='issuu.com']:after {
  content: "\f026";
}
/* line 148, ../sass/_footerpaginaResponsive.scss */
html body.dark footer .contenedor .credits {
  height: 32px;
}
/* line 150, ../sass/_footerpaginaResponsive.scss */
html body.dark footer .contenedor .credits p {
  font: 12px/16px "DroidSansRegular", Arial, Helvetica, Geneva, sans-serif;
  text-align: center;
  color: white;
  opacity: 0.6;
}
/* line 155, ../sass/_footerpaginaResponsive.scss */
html body.dark footer .contenedor .credits p a:link, html body.dark footer .contenedor .credits p a:visited {
  color: white;
  opacity: 0.8;
}
/* line 158, ../sass/_footerpaginaResponsive.scss */
html body.dark footer .contenedor .credits p a:link:hover, html body.dark footer .contenedor .credits p a:visited:hover {
  color: white;
  opacity: 1;
}
/* line 162, ../sass/_footerpaginaResponsive.scss */
html body.dark footer .contenedor .credits p a:link:active, html body.dark footer .contenedor .credits p a:visited:active {
  color: white;
  opacity: 1;
}

@media (max-width: 989px) {
  /* line 185, ../sass/_footerpaginaResponsive.scss */
  body .footerGradient {
    min-width: 768px;
  }
  /* line 188, ../sass/_footerpaginaResponsive.scss */
  body footer {
    min-width: 768px;
  }
  /* line 190, ../sass/_footerpaginaResponsive.scss */
  body footer .contenedor {
    width: 728px;
  }
}
@media (min-width: 990px) {
  /* line 185, ../sass/_footerpaginaResponsive.scss */
  body .footerGradient {
    min-width: 980px;
  }
  /* line 188, ../sass/_footerpaginaResponsive.scss */
  body footer {
    min-width: 980px;
  }
  /* line 190, ../sass/_footerpaginaResponsive.scss */
  body footer .contenedor {
    width: 940px;
  }
}
@media (min-width: 1240px) {
  /* line 185, ../sass/_footerpaginaResponsive.scss */
  body .footerGradient {
    min-width: 1230px;
  }
  /* line 188, ../sass/_footerpaginaResponsive.scss */
  body footer {
    min-width: 1230px;
  }
  /* line 190, ../sass/_footerpaginaResponsive.scss */
  body footer .contenedor {
    width: 1170px;
  }
}
/* line 3, ../sass/_general.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 4, ../sass/_general.scss */
.clearfix:after {
  clear: both;
}

/* line 5, ../sass/_general.scss */
.clearfix {
  zoom: 1;
}
