$borderGrey: lighten(#BEBEBE, 8%);
$innerborderGrey: lighten(#C9C9C9, 8%);
$colorFondoOscuro: rgb(230,230,230);
$colorFondo: rgb(250,250,250);

.subnavNo {
	width: 100%;
	$navHeight: 30px;
	$navbar-border-radius: 4px;
	$navbar-border: 1px solid $borderGrey;
	$navbar-border-inside: 1px solid $innerborderGrey;
	$navbar-font: 12px "DroidSansRegular", Arial, Helvetica, Geneva, sans-serif;
	display:block;
	border-bottom: $navbar-border;
	@include box-shadow(white 0 1px 0px);
}
.subnavNo.fixed {
	@include background(image-url("/imagenes/background.png"),
						$colorFondo);
	position: fixed;
	top: 50px;
	left: 0;
	right: 0;
	margin-top: 15px;
	z-index: 450;
	border-bottom: 1px solid $borderGrey;
	@include single-box-shadow(rgba(0,0,0,0.2), 0px, 1px, 4px, false, false);
	&:before{
		@include background(image-url("/imagenes/background.png"),
							$colorFondo);
		width:100%;
		height:40px;
		display: table;
		content: "";
		border-bottom: 1px solid $borderGrey;
	}
}

@media (max-width: 989px) {
	.subnavNo.fixed .nav {
		width: 728px;
		padding-left: 20px;
		padding-right: 20px;
	}
}
@media (min-width: 990px) {
	.subnavNo.fixed .nav {
		width: 940px;
		padding-left: 20px;
		padding-right: 20px;
	}
}
@media (min-width: 1240px){
	.subnavNo.fixed .nav {
		width: 1170px;
		padding-left: 30px;
		padding-right: 30px;
	}
}