@import "compass/reset";
@import "compass/css3";
@import "compass/css3/user-interface";
@import "compass/utilities/general/clearfix";
@import "fonts/fontfaces";
@import "_general";
@import "_cabecerapaginaResponsive";
@import "_footerpaginaResponsive";
@import "_subnavNo";
@import "compass/typography/vertical_rhythm";

$fontTitulo2: "colaborativasemibold";
$fontBase:  "DroidSansRegular";

@mixin imageStyleLight{
	@include box-sizing (border-box);
	background:white;
	border: 3px solid white;
	@include border-radius(2px, 2px);
	@include single-box-shadow(rgba(0,0,0,0.4), 0px, 0px, 3px, false, false);
}

@mixin imageStyleDark{
	@include box-sizing (border-box);
	background:silver;
	border: none;
	@include border-radius(2px, 2px);
	@include single-box-shadow(rgba(0,0,0,0.5), 0px, 0px, 10px, false, true);
}

@mixin templateSite($templateNombre, $colorFondo, $colorTexto, $estiloBorde){
	html{
		height: 100%;
		body.#{$templateNombre} {
			@if $templateNombre == neutral {
				@include background(image-url("/imagenes/background.png"),
									rgb(250,250,250));
			}
			.cuerpoPagina{
				a:link, a:visited, a:active{
					text-decoration: none;
					color: $colorTexto;
				}
				margin-top: 135px;
				min-height: 400px;
				min-width:0px;
				.contenedor{
					margin-right: auto;
					margin-left: auto;
					@include box-sizing (border-box);
					.categoria{
						article{
							&:hover{
								.imagenArticulo a{
									@include box-shadow(0px 0px 3px rgba(0,0,0,0.4), 0px 0px 1px 3px rgba(#1B70B9,0.3));
								}
							}
							position: relative;
							float: left;
							h3{
								color: $colorTexto;
								font-family: $fontTitulo2;
							}
							h4{
								color: $colorTexto;
								font-family: $fontBase;
							}
							.imagenArticulo{
								@include box-sizing (border-box);
								a{
									@if $templateNombre == light OR $templateNombre == neutral {
										@include imageStyleLight;
									} @else {
										@include imageStyleDark;
									}
									@include transition(box-shadow .1s linear);
									display: block;
									margin: 0;
									padding: 0;
									overflow:hidden;
									background-position-x: 50%;
									@include background-size (cover);
								}
							}
							
						}
					}
				}
			}
		} 
	}
}

@mixin blogResponsive($totalWidth, $columnWidth, $columnGap, $numberColumns, $baseFontSize, $baseLineSize, $fontTitulo2Size){
	$base-font-size: $baseFontSize;
	$base-line-height: $baseLineSize;
	@include establish-baseline;
	body{
		min-width: $totalWidth + $columnGap;
		.contenedor{
			width: $totalWidth;
			.categoria{
				@include rhythm(1, 0, 0, 2, $baseFontSize);
				article{
					@include rhythm(2/3, 0, 0, 1, $baseFontSize);
					height: rhythm(12, $baseFontSize);
					margin-left: $columnGap/2;
					padding-left: $columnGap/2;
					width: $columnWidth - 1px;
					.textoArticulo{
						height: rhythm(6, $baseFontSize);
						h3{
							@include rhythm(2/3, 0, 0, 1/3, $baseFontSize);
							@include adjust-font-size-to($fontTitulo2Size, 4/4);
						}
						h4{
							@include adjust-font-size-to($baseFontSize);
						}
					}
					.imagenArticulo{
						width:  $columnWidth;
						height: ($columnWidth) *2/3;
						a{
							width:  $columnWidth;
							height: ($columnWidth) *2/3;
						}
					}
					border-left: 1px solid #C9C9C9;
					&:nth-child( #{$numberColumns}n+1) {
						border-left: none;
						margin-left: 0px;
						padding-left: 0px;
					}
				}
			}
		}
	}
}

@include templateSite(neutral, rgb(250,250,250), #393939, 1px solid #C9C9C9);
@include templateSite(light, rgb(250,250,250), #393939, 1px solid #C9C9C9);
@include templateSite(dark, black, white, 1px solid rgba(255,255,255,0.5));

//Tablets
@media (max-width: 989px) {
	@include blogResponsive(728px, 220px, 34px, 3,
		$baseFontSize: 14px, $baseLineSize: 22px, $fontTitulo2Size: 20px);
}
//Normal screens
@media (min-width: 990px) {
	@include blogResponsive(940px, 205px, 40px, 4,
	$baseFontSize: 14px, $baseLineSize: 22px, $fontTitulo2Size: 20px);
}
//Big screens
@media (min-width: 1240px) {
	@include blogResponsive(1170px, 255px, 50px, 4,
	$baseFontSize: 16px, $baseLineSize: 24px, $fontTitulo2Size: 20px);
}