@import "compass/reset";
@import "compass/css3";
@import "compass/css3/user-interface";
@import "compass/typography/vertical_rhythm";
@import "compass/utilities/general/clearfix";
@import "fonts/fontfaces";
@import "_general";
@import "_cabecerapaginaResponsive";
@import "_footerpaginaResponsive";
@import "_subnav-nueva";
@import "_popover";

$colorTextoGrisOscuro: #393939;
$colorTextoGrisClaro: #898989;
$colorFondo: rgb(250,250,250);
$borderGrey: #BEBEBE;
$innerborderGrey: #C9C9C9;
$greyLine: 1px solid #DADADA;

$seccionTitulo: "colaborativaMedium";
$articuloTitulo: "colaborativasemibold";
$articuloDescripcion: "DroidSansRegular";


a:link, a:visited, a:active{
	text-decoration: none;
	color: $colorTextoGrisOscuro;
}


@mixin imagestyle{
	@include box-sizing (border-box);
	background:white;
	border: 3px solid white;
	@include border-radius(2px, 2px);
	@include single-box-shadow(rgba(0,0,0,0.4), 0px, 0px, 3px, false, false);
}

html{
	height: 100%;
	body{
		@include background(image-url("/imagenes/background.png"),
							$colorFondo);
		.cuerpoPagina{
			margin-top: 125px;
			min-height: 400px;
			min-width:0px;
			.contenedor{
				margin-right: auto;
				margin-left: auto;
				h1.big{
					@include hiddenelement;
				}
				section{
					h1{
						font-family: $seccionTitulo;
						color:$colorTextoGrisOscuro;
						border-bottom: $greyLine;
					}
					&#categoria1{
						article{
							@include column-count(3);
							font-family: $articuloDescripcion;
							color:$colorTextoGrisOscuro;
						}
						
					}
					.listadoColaborativos, .listadoColaboradores{
						article{
							font-family: $articuloDescripcion;
							color:$colorTextoGrisOscuro;
							float: left;
							.textoColaborativo, .textoColaborador{
								h2{
									font-family: $articuloTitulo;
								}
							}
							.imagenColaborativo, .imagenColaborador{
								@include box-sizing (border-box);
								float:left;
								a{
									border-bottom:3px solid white;
									@include imagestyle;
									display: block;
									margin: 0;
									padding: 0;
									overflow:hidden;
									@include background-size (cover);
									background-position-x: 50%;
								}
							}
						}
					}
				}
			}
		}
	} 
}


@mixin responsivelayout($textColumns, $totalWidth, $columnWidth, $columnGap, $articleHeight, $baseFontSize, $baseLineSize, $seccionTituloSize, $articuloTituloSize, $articuloDescripcionSize ){
$base-font-size: $baseFontSize;
$base-line-height: $baseLineSize;
@include establish-baseline;
	html{
		body{
			//estoviene del elemento popover de twitter bootstrap
			.popover-inner{
				width:$columnWidth + $columnGap/2;
			}
			.cuerpoPagina{
				width:100%;
				.contenedor{
					width: $totalWidth;
					min-width: $totalWidth;
					padding-left: $columnGap;
					padding-right: $columnGap;
					section{
						width:$totalWidth;
						h1{
							@include adjust-font-size-to($seccionTituloSize);
							@include rhythm(2, 0, 1/3, 1+(1/3), $seccionTituloSize);
						}
						&#categoria1{
							article{
								height: rhythm(5);
								@include adjust-font-size-to($articuloDescripcionSize);
								@include column-count($textColumns);
								@include column-gap($columnWidth);
								@include column-gap($columnGap);
							}
						}
						.listadoColaborativos, .listadoColaboradores{
							margin-left: -$columnGap;
							article{
								@include rhythm(0, 0, 0, 3, $baseLineSize);
								margin-left: $columnGap;
								.imagenColaborativo, .imagenColaborador{
									width:  rhythm(5);
									height: rhythm(5);
									a{
										width:  rhythm(5);
										height: rhythm(5);
									}
								}
								.textoColaborativo, .textoColaborador{
									h2{
										@include adjust-font-size-to($articuloTituloSize);
										@include rhythm(-1/4, 0, 0, 1/4, $articuloDescripcionSize);
									}
									h3{
										@include adjust-font-size-to($articuloDescripcionSize);
									}
									@if $textColumns == 1 {
										width: ($totalWidth - $columnGap)/2 - $articleHeight - $columnGap;
										margin-left: $articleHeight + $columnGap * 2/3;
									} @else {
										width:$columnWidth - $articleHeight - $columnGap;
										margin-left: $articleHeight + $columnGap * 2/3;
									}
								}
								@if $textColumns == 1 {
									width:($totalWidth - $columnGap)/2;
								} @else {
									width:$columnWidth;
								}
								&:first-child{
									@if $textColumns == 1 {
										width:$totalWidth;
									}
								}
							}
						}
					}
				}
			}
		} 
	}
}

//
//Responsive Settings
//
//Tablets
@media (max-width: 989px) {
	@include responsivelayout(1, 728px, 228px, 20px, 120px,
	$baseFontSize: 15px, $baseLineSize: 24px,
	$seccionTituloSize: 26px, $articuloTituloSize: 18px, $articuloDescripcionSize: 15px);
}
//Normal screens
@media (min-width: 990px) {
	@include responsivelayout(3, 940px, 300px, 20px, 120px,
	$baseFontSize: 14px, $baseLineSize: 22px,
	$seccionTituloSize: 24px, $articuloTituloSize: 18px, $articuloDescripcionSize: 14px);
}
//Big screens
@media (min-width: 1240px) {
	@include responsivelayout(3, 1170px, 370px, 30px, 120px,
	$baseFontSize: 16px, $baseLineSize: 24px,
	$seccionTituloSize: 26px, $articuloTituloSize: 20px, $articuloDescripcionSize: 16px);
}

