<div class="footerGradient"></div>
<footer class="piePagina" itemscope itemtype="http://schema.org/Organization">
	<div class="contenedor">
		<div class="datosContacto" id="contacto">
			<p class="emailTelAddress">
				<a class="mail" itemprop="email" href="{{ site.colaborativa_datos.email }}">{{ site.colaborativa_datos.email }}</a>
				<a class="tel" itemprop="telephone" href="tel:{{ site.colaborativa_datos.tel }}">{{ site.colaborativa_datos.tel }}</a>
				<a href="#" class="address">
					<span class="adr"  itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
						<span class="street-address" itemprop="streetAddress">{{ site.colaborativa_datos.street_address }}</span>, 
						<span class="postal-code" itemprop="postalCode">{{ site.colaborativa_datos.postal_code }}</span> ·  
						<span class="locality" itemprop="addressLocality">{{ site.colaborativa_datos.locality }}</span>, 
						<span class="continent" itemprop="addressCountry">{{ site.colaborativa_datos.continent }}</span>
					</span>
				</a>
			</p>
			<p class="descargaTarjeta"><a href="/colaborativa.vcf" class="anade"><span class="adicional">{{ site.footer-content-anade.[page.language] }}</span></a></p>
		</div>
		<div class="enlacesExternos">
			<div class="enlacesSociales">
				<div><a class="enlaceExterno sociales" href="{{ site.enlaces-sociales-facebook.url }}">{{ site.enlaces-sociales-facebook.[page.language] }}</a></div>
				<div><a class="enlaceExterno sociales" href="{{ site.enlaces-sociales-twitter.url }}">{{ site.enlaces-sociales-twitter.[page.language] }}</a></div>
				<div><a class="enlaceExterno sociales" href="{{ site.enlaces-sociales-linkedin.url }}">{{ site.enlaces-sociales-linkedin.[page.language] }}</a></div>
				<div><a class="enlaceExterno sociales" rel="publisher" href="{{ site.enlaces-sociales-google.url }}">{{ site.enlaces-sociales-google.[page.language] }}</a></div>
			</div>
			<div class="enlacesSociales">
				<div><a class="enlaceExterno recursos" href="{{ site.enlaces-sociales-github.url }}"><span></span>{{ site.enlaces-sociales-github.[page.language] }}</a></div>
				<div><a class="enlaceExterno recursos" href="{{ site.enlaces-sociales-flickr.url }}"><span></span>{{ site.enlaces-sociales-flickr.[page.language] }}</a></div>
				<div><a class="enlaceExterno recursos" href="{{ site.enlaces-sociales-youtube.url }}"><span></span>{{ site.enlaces-sociales-youtube.[page.language] }}</a></div>
				<div><a class="enlaceExterno recursos" href="{{ site.enlaces-sociales-issuu.url }}"><span></span>{{ site.enlaces-sociales-issuu.[page.language] }}</a></div>
			</div>
		</div>
		<div class="credits">
			<p class="copyleft"><span itemprop="name">{{ site.titulo }}</span> {{ site.version }} · <a href="{{ site.footer-content-codigofuente-url.url }}">{{ site.footer-content-codigofuente-url.[page.language] }}</a> {{ site.footer-content-opensource.[page.language] }} <a href="{{ site.footer-content-opensource-url.url }}" rel="copyright">{{ site.footer-content-opensource-url.[page.language] }}</a>, {{ site.footer-content-copyleft.[page.language] }} <a href="{{ site.footer-content-copyleft-url.url }}" rel="copyright">{{ site.footer-content-copyleft-url.[page.language] }}</a></p>
			<p class="copyleft">{{ site.footer-content-disenado.[page.language] }} <a href="http://www.openstreetmap.org/?lat=37.86&lon=-4.76&zoom=8&layers=M">{{ site.colaborativa_datos.locality }}, {{ site.colaborativa_datos.region }}</a> · {{ site.footer-content-hechocon.[page.language] }} <a href="{{ site.footer-content-hechocon-tools.github-url }}">{{ site.footer-content-hechocon-tools.github }}</a>, <a href="{{ site.footer-content-hechocon-tools.jekyll-url }}">{{ site.footer-content-hechocon-tools.jekyll }}</a>, <a href="{{ site.footer-content-hechocon-tools.sass-url }}">{{ site.footer-content-hechocon-tools.sass }}</a>, <a href="{{ site.footer-content-hechocon-tools.compass-url }}">{{ site.footer-content-hechocon-tools.compass }}</a> {{ site.inline-y.[page.language] }} <a href="{{ site.footer-content-hechocon-tools.glyphish-url }}">{{ site.footer-content-hechocon-tools.glyphish }}</a> · 2010­-­{{ site.time | date: "%Y"  }}</p>
		</div>
	</div>
</footer>