{% assign contador = '' %}
{% assign contador = temp %}
{% capture temp %}{{ contador }}*{% endcapture %}
{% assign an_integer = contador.size %}

{% for item in site.categories.articulos %}
	{% if item.language == page.language %}
	{% for proyecto in item.categorias %}
		{% if proyecto == page.slug %}
			{% capture temp %}{{ contador}}*{% endcapture %}
			{% assign contador = temp %}
			{% assign an_integer = contador.size %}
		{% endif %}
	{% endfor %}
	{% endif %}
{% endfor %}

{% for item in page.reacciones %}
	{% capture temp %}{{ contador}}*{% endcapture %}
	{% assign contador = temp %}
	{% assign an_integer = contador.size %}
{% endfor %}

<span class="numeroReacciones">{{ an_integer }}</span>