{% if item.comming_soon %}
<article class="proyecto soon clearfix">
	<a class="titulo" href="{{ item.descripcion-link-externo }}" alt="{{ item.title }} · {{ item.subtitulo }}">
		<div class="commingSoon {{ item.template }} {{ page.language }}">
			<div class="textoSoon">
				<p class="title">Próximamente</p>
				<p class="subitle">visita la web externa</p>
			</div>
		</div>
		<div class="imagenProyecto">
{% else %}
<article class="proyecto clearfix">
	<a class="titulo" href="{{ item.url }}" alt="{{ item.title }} · {{ item.subtitulo }}">
		<div class="imagenProyecto">
{% endif %}
			<img src="/imagenes/proyectos/{{ item.slug }}-portfolio.{% if item.extension %}{{ item.extension }}{% else %}jpg{% endif %}" alt="{{ item.title }} · {{ item.subtitulo }}">
		</div>
		<div class="infoProyecto">
			<hgroup>
				<h1>{{ item.title }}</h2>
				<h2>{{ item.subtitulo }}</h3>
			</hgroup>
		</div>
	</a>
</article>