<meta name='robots' content='index'/>
<meta name="Description" content="{{ page.subtitulo }}">

<meta itemprop="name" content="{{ site.titulo }} | {{ page.title }}">
<meta itemprop="description" content="{{ page.subtitulo }}">
<meta itemprop="author" content="{{ site.titulo }}">

<meta itemprop="url" content="{{ page.url }}" />

<meta property="og:title" content="{{ site.titulo }} | {{ page.title }}" />
<meta property="og:description" content="{{ page.subtitulo }}" />

<meta itemprop="og:url" content="{{ page.url }}" />