<div id="header">
<h1 class="header">Turbulence Structure Laboratory</h1>
  <div id="menu">
    <ul>
      <li><a href="{{ site.url }}{{ site.baseurl }}index.html">Home</a></li>
      <li><a href="{{ site.url }}{{ site.baseurl }}blog.html">Blog</a></li>
      <li><a href="{{ site.url }}{{ site.baseurl }}people.html">People</a></li>
      <li><a href="{{ site.url }}{{ site.baseurl }}research/index.html">Research</a></li>
      <li><a href="{{ site.url }}{{ site.baseurl }}publications.html">Publications</a></li>
      <li><a href="{{ site.url }}{{ site.baseurl }}software.html">Software</a></li>
      <li><a href="{{ site.url }}{{ site.baseurl }}links.html">Links</a></li>
    </ul>
  </div>
  Tel/Fax: +972-3-640-6860
</div>