<!DOCTYPE html>
<html lang="{{ page.language }}">
	<head>
		<title> {{ site.titulo }} | {{ page.title }}</title>
		<meta charset='UTF-8'/>
		<link href="/css/screen-blog.css" media="screen, projection" rel="stylesheet" type="text/css" />
		<link href="/css/bootstrap.min.css" media="screen, projection" rel="stylesheet" type="text/css" />
		{% include _scripts-blog-top.html %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
	</head>
	<body class="{{ page.template }}" data-spy="scroll">
		{% include _header-responsive.html %}
		<section class="cuerpoPagina">
			<div class="contenedor">
				<h1 class="big">{{ site.navegacion-blog.[page.language] }}</h1>
				<div class="subnav">
					<ul class="nav">
						<li><a href="#categoria1" class="activo"><span>{{ page.portada_nav }}</span></a></li>
						<li><a href="#categoria4"><span>{{ page.categoria4.texto_nav }}</span></a></li>
					</ul>
				</div>
				<section class="portada clearfix" id="categoria1">
					<h1>{{ page.portada }}</h1>
					<div>
						{% assign numero-de-articulos = 4 %}
						<div class="articulosLista clearfix">
						{% assign contador = '' %}
						{% assign contador = temp %}
						{% capture temp %}{{ contador }}*{% endcapture %}
						{% assign an_integer = contador.size %}
						{% for item in site.categories.articulos %}
							{% capture temp %}{{ contador}}*{% endcapture %}
							{% assign contador = temp %}
							{% assign an_integer = contador.size %}
							{% case an_integer %}
							{% when 1 %}
								<article class="articuloBlog primero clearfix">
									<div class="imagenArticulo">
										<a href="{{ item.url }}" style="background-image: url(http://{{ item.imagen }}.jpg)"></a>
									</div>
									<div class="textoArticulo">
										<hgroup>
											<h3><a href="{{ item.url }}">{{ item.title }}</a></h3>
											<h4>{{ item.subtitulo }}</h4>
										</hgroup>
										<p>{{ item.content | markdownify | strip_html | truncatewords: 30 }}</p>
									</div>
								</article>
							{% when 2 or 3 or 4 %}
								<article class="articuloBlog">
									<div class="imagenArticulo">
										<a href="{{ item.url }}" style="background-image: url(http://{{ item.imagen }}.jpg)"></a>
									</div>
									<div class="textoArticulo">
										<hgroup>
											<h3><a href="{{ item.url }}">{{ item.title }}</a></h3>
											<h4>{{ item.subtitulo }} </h4>
										</hgroup>
									</div>
								</article>
							{% else %}
							{% endcase %}
						{% endfor %}
						</div>
						<div class="portadaPie clearfix">
							<div class="linkSubscripcion"><a href="/rss/articulos.xml">{{ page.portada_subscripcion }}</a></div>
							<div class="linkResto"><a href="{{ page.portada_todos.url }}">{{ page.portada_todos.texto.parte1}} {{ an_integer }} {{ page.portada_todos.texto.parte2}}</a></div>
						</div>
					</div>
				</section>
				{% comment %}
				// ocultamos la categoria sobre cultura libre por el momento
				<section class="categoria clearfix" id="categoria2">
					<div class="categoriaDescripcion">
						<div class="descripcion clearfix">
							{% for item in site.categories.articulos-categorias %}
								{% if item.language == page.language %}
									{% if item.slug == page.categoria2.slug %}
										{% assign categoria2_subtitulo = item.subtitulo %}
										{% assign categoria2_url = item.url %}
										<hgroup>
											<h1>{{ item.title }}</h1>
											<h2>{{ item.subtitulo }}</h2>
										</hgroup>
										<p>{{ item.descripcion }}</p>
									{% endif %}
								{% endif %}
							{% endfor %}
						</div>
					</div>
					<div class="categoriaArticulos">
						{% assign numero-de-articulos2 = 3 %}
						<div class="articulosLista clearfix">
						{% assign contador2 = '' %}
						{% assign contador2 = temp2 %}
						{% capture temp2 %}{{ contador2 }}*{% endcapture %}
						{% assign an_integer2 = contador2.size %}
						{% for item in site.categories.articulos %}
							{% if item.categorias.[0] == page.categoria2.slug %}
								{% capture temp2 %}{{ contador2 }}*{% endcapture %}
								{% assign contador2 = temp2 %}
								{% assign an_integer2 = contador2.size %}
								{% if an_integer2 <=  numero-de-articulos2 %}
									<article class="articuloBlog">
										<div class="imagenArticulo">
											<a href="{{ item.url }}" style="background-image: url(http://{{ item.imagen }}.jpg)"></a>
										</div>
										<div class="textoArticulo">
											<hgroup>
												<h3><a href="{{ item.url }}">{{ item.title }}</a></h3>
												<h4>{{ item.subtitulo }} </h4>
											</hgroup>
										</div>
									</article>
								{% endif %}
							{% endif %}
						{% endfor %}
						</div>
					</div>
					<div class="categoriaPie clearfix">
						<div class="linkSubscripcion"><a href="/rss/{{ page.categoria2.slug }}.xml">{{ page.categoria_subscripcion }} {{ categoria2_subtitulo }}</a></div>
						<div class="linkResto"><a href="{{ categoria2_url }}">{{ page.categoria_otros }} {{ an_integer2 }} {{ page.articulos }}</a></div>
					</div>
				</section>
				<section class="categoria clearfix" id="categoria3">
					<div class="categoriaDescripcion">
						<div class="descripcion clearfix">
							{% for item in site.categories.articulos-categorias %}
								{% if item.language == page.language %}
									{% if item.slug == page.categoria3.slug %}
										{% assign categoria3_subtitulo = item.subtitulo %}
										{% assign categoria3_url = item.url %}
										<hgroup>
											<h1>{{ item.title }}</h1>
											<h2>{{ item.subtitulo }}</h2>
										</hgroup>
										<p>{{ item.descripcion }}</p>
									{% endif %}
								{% endif %}
							{% endfor %}
						</div>
					</div>
					<div class="categoriaArticulos">
						{% assign numero-de-articulos3 = 3 %}
						<div class="articulosLista clearfix">
						{% assign contador3 = '' %}
						{% assign contador3 = temp3 %}
						{% capture temp3 %}{{ contador3 }}*{% endcapture %}
						{% assign an_integer3 = contador3.size %}
						{% for item in site.categories.articulos %}
							{% if item.categorias.[0] == page.categoria3.slug %}
								{% capture temp3 %}{{ contador3 }}*{% endcapture %}
								{% assign contador3 = temp3 %}
								{% assign an_integer3 = contador3.size %}
								{% if an_integer3 <=  numero-de-articulos3 %}
									<article class="articuloBlog">
										<div class="imagenArticulo">
											<a href="{{ item.url }}" style="background-image: url(http://{{ item.imagen }}.jpg)"></a>
										</div>
										<div class="textoArticulo">
											<hgroup>
												<h3><a href="{{ item.url }}">{{ item.title }}</a></h3>
												<h4>{{ item.subtitulo }} </h4>
											</hgroup>
										</div>
									</article>
								{% endif %}
							{% endif %}
						{% endfor %}
						</div>
					</div>
					<div class="categoriaPie clearfix">
						<div class="linkSubscripcion"><a href="/rss/{{ page.categoria3.slug }}.xml">{{ page.categoria_subscripcion }} {{ categoria3_subtitulo }}</a></div>
						<div class="linkResto"><a href="{{ categoria3_url }}">{{ page.categoria_otros }} {{ an_integer3 }} {{ page.articulos }}</a></div>
					</div>
				</section>
				{% endcomment %}
				<section class="categoria clearfix" id="categoria4">
					<div class="categoriaDescripcion">
						<div class="descripcion clearfix">
							{% for item in site.categories.articulos-categorias %}
								{% if item.language == page.language %}
									{% if item.slug == page.categoria4.slug %}
										{% assign categoria4_subtitulo = item.subtitulo %}
										{% assign categoria4_url = item.url %}
										<hgroup>
											<h1>{{ item.title }}</h1>
											<h2>
												<a class=".tooltip" href="http://twitter.com/intent/tweet?text=%23{{ item.subtitulo | remove_first:'#' }}&amp;via={{ site.enlaces-sociales-twitter.profile | remove_first:'@' }}"
												    rel="tooltip" title="{{ page.categoria4.tweet.tooltip }}" onclick="return !window.open(this.href, 'tweet', 'menubar=no')">
												    {{ item.subtitulo }}
												</a>
											</h2>
										</hgroup>
										<p>{{ item.descripcion }}</p>
									{% endif %}
								{% endif %}
							{% endfor %}
						</div>
					</div>
					<div class="categoriaArticulos">
						{% assign numero-de-articulos4 = 3 %}
						<div class="articulosLista clearfix">
						{% assign contador4 = '' %}
						{% assign contador4 = temp4 %}
						{% capture temp4 %}{{ contador4 }}*{% endcapture %}
						{% assign an_integer4 = contador4.size %}
						{% for item in site.categories.articulos %}
							{% if item.categorias.[0] == page.categoria4.slug %}
								{% capture temp4 %}{{ contador4 }}*{% endcapture %}
								{% assign contador4 = temp4 %}
								{% assign an_integer4 = contador4.size %}
								{% if an_integer4 <=  numero-de-articulos4 %}
									<article class="articuloBlog">
										<div class="imagenArticulo">
											<a href="{{ item.url }}" style="background-image: url(http://{{ item.imagen }}.jpg)"></a>
										</div>
										<div class="textoArticulo">
											<hgroup>
												<h3><a href="{{ item.url }}">{{ item.title }}</a></h3>
												<h4>{{ item.subtitulo }}</h4>
											</hgroup>
										</div>
									</article>
								{% endif %}
							{% endif %}
						{% endfor %}
						</div>
					</div>
					<div class="categoriaPie clearfix">
						<div class="linkSubscripcion"><a href="/rss/{{ page.categoria4.slug }}.xml">{{ page.categoria_subscripcion }} {{ page.categoria4.texto_nav | downcase }}</a></div>
						<div class="linkResto"><a href="{{ categoria4_url }}">{{ page.categoria4.texto.parte1 }} {{ an_integer4 }} {{ page.categoria4.texto.parte2 }}</a></div>
					</div>
				</section>
			</div>
		</section>
		<script src='/javascripts/libs/jquery-1.7.2.min.js' type='text/javascript'></script>
		<script src='/javascripts/libs/jquery.comunesPlugin.js' type='text/javascript'></script>
		<script src='/javascripts/funciones-blog.js' type='text/javascript'></script>
		<script src='/javascripts/libs/bootstrap.min.js' type='text/javascript'></script>
		<script>  
			$(function ()
				{ $('.tooltip').tooltip();
			});
		</script>
		{% include _footer-responsive.html %}
		{% include _scripts-blog-bottom.html %}
	</body>
</html>