<!DOCTYPE html>
<html lang="{{ page.language }}">
	<head>
		<title> {{ site.titulo }} {{ site.version }} | {{ page.title }}</title>
		<meta charset='UTF-8'/>
		{% include _socialmeta-portfolio-proyectos.html %}
		<link href="/css/screen-proyecto.css" media="screen, projection" rel="stylesheet" type="text/css" />
		{% include _scripts-portfolio-proyectos-top.html %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
		<script type='text/javascript'>
			{% if page.inicio %}
				var botonInicial = "#{{ page.inicio }}";
			{% else %}
				var botonInicial = "#descripcion";
			{% endif %}
		</script>
		<style>
			html body.{{ page.template }} { background-color: {{ page.colorFondo }}; }
			html body.{{ page.template }}.imagenes .cuerpoPagina .contenedor .resumenProyecto { background: {{ page.colorFondo }}!important; }
		</style>
	</head>
	<body class="{{ page.template }} {{ page.inicio }}">
		<div class="fondoContenedor">
			<div class="fondoProyecto {% if page.escalaFondo %}escalado{% endif %}" style="background: url(/imagenes/proyectos/{{ page.slug }}-background.jpg) center top no-repeat"></div>
		</div>
		<div class="auxiliar">
		</div>
		{% include _header-responsive.html %}
		<div class="cuerpoPagina">
			<div class="contenedor">
				<div class="contenedorResumen">
					<header class="resumenProyecto">
						<div class="navegacion botones3">
							<ul class='switcher ewf'>
								<li class="imagenes" id="imagenes"><a href="#imagenes"><span>{{ site.proyectos-imagenes.[page.language] }} {% include _inline-project-number-of-images.html %}</span></a></li>
								<li class="descripcion" id="descripcion"><a href="#descripcion"><span>{{ site.proyectos-descripcion.[page.language] }}</span></a></li>
								<li class="reacciones" id="reacciones"><a href="#reacciones"><span>{{ site.proyectos-reacciones.[page.language] }} {% include _inline-project-number-of-reactions.html %}</span></a></li>
							</ul>
						</div>
						<div class="infoProyecto" >
							<hgroup>
								<h1>{{ page.title }}</h1>
								<h2>{{ page.subtitulo }}</h2>
							</hgroup>
							<p>{{ page.descripcion }}</p>
							<p class="linkExterno"><a href="{{ page.descripcion-link-externo }}">{{ page.descripcion-link-externo }}</a></p>
						</div>
						<div class="infoAdicionalProyecto" >
							<div class="colaboradoresProyecto">
							</div>
						</div>
					</header>
				</div>
				<div class="indexTitle"></div>
				<section class="descripcionProyecto">
					<h1>{{ site.proyectos-descripcion.[page.language] }}</h1>
					<figure>
						<img src="/imagenes/proyectos/{{ page.slug }}-header.{% if page.extension %}{{ page.extension }}{% else %}jpg{% endif %}" alt="">
					</figure>
					{{ content }}
				</section>
				<section class="reaccionesProyecto">
					<h1>{{ site.proyectos-reacciones.[page.language] }}</h1>
					<section>
						<h2>{{ site.proyectos-reacciones-redes.[page.language] }}</h2>
						<div>
						<article class="tweets">
							<hgroup>
								<h3>{{ site.proyectos-reacciones-twitter.[page.language] }}</h3>
							</hgroup>
							<div class="tweetList">
								<!-- JAVASCRIPT use topsy for getting the last three tweets (twitter API are only for recent tweets) and print them here using this template-->
								<div class="tweet">
									<span class="twitterImagenPerfil"><img src="/imagenes/placeholder_profile.jpg"></span><p class="tweetTexto"><span class="twitterNombre">TwitterUserName</span> This is the text of the tweet, of course no more than 140 characters.</p><span class="tiempo">Tweet timestamp</span>
								</div>
							</div>
						</article>
						<article>
							<hgroup>
								<h3>{{ site.proyectos-reacciones-resto.[page.language] }}</h3>
								<h4>n {{ site.inline-en.[page.language] }} Facebook · n {{ site.inline-en.[page.language] }} LinkedIn · n {{ site.inline-en.[page.language] }} Pininterest</h4>
							</hgroup>
						</article>
						</div>
					</section>
					{% if page.reacciones %}
					<section class="prensa">
						<h2>{{ site.proyectos-reacciones-prensa.[page.language] }}</h2>
						<div>
						{% for reaccion in page.reacciones %}
						<article class="articuloPrensa">
							<div class="imagenArticulo">
									<img src="/imagenes/placeholder_3-4.jpg" alt="">
							</div>
							<div class="textoArticulo">
								<hgroup>
									<h3><a href="{{ reaccion.url }}">{{ reaccion.title }}</a></h3>
									<h4>{{ reaccion.source }} · {{ reaccion.date }}</h4>
								</hgroup>
								<p>{{ reaccion.quote }}</p>
							</div>
						</article>
						{% endfor %}
						</div>
					</section>
					{% endif %}

					{% assign numero-de-articulos = 5 %}

					{% assign contador = '' %}
					{% assign contador = temp %}
					{% capture temp %}{{ contador }}*{% endcapture %}
					{% assign an_integer = contador.size %}

					{% for item in site.categories.articulos %}
						{% if item.language == page.language %}
						{% for proyecto in item.categorias %}
							{% if proyecto == page.slug %}
								{% assign hay-articulos = 'yes' %}
							{% endif %}
						{% endfor %}
						{% endif %}
					{% endfor %}

					{% if hay-articulos %}
					<section>
						<h2>Artículos relacionados</h2>
						<div>
						{% for item in site.categories.articulos %}
							{% if item.language == page.language %}
							{% for proyecto in item.categorias %}
								{% if proyecto == page.slug %}
									{% capture temp %}{{ contador}}*{% endcapture %}
									{% assign contador = temp %}
									{% assign an_integer = contador.size %}
									{% if an_integer <=  numero-de-articulos %}
										<article class="articuloBlog">
											<div class="imagenArticulo">
												<img src="/imagenes/placeholder_2-3.jpg" alt="">
											</div>
											<div class="textoArticulo">
												<hgroup>
													<h3><a href="{{ item.url }}">{{ item.title }}</a></h3>
													<h4>{{ item.autor }}. {{ item.date | date:"%b %Y" }} </h4>
												</hgroup>
												<p>{{ item.subtitulo | truncate:150 }}</p>
											</div>
										</article>
									{% endif %}
								{% else %}
								{% endif %}
							{% endfor %}
							{% endif %}
						{% endfor %}
						</div>
						<div></div>
					</section>
					{% endif %}
				</section>
				<section class="imagenesProyecto" >
					<h1>{{ site.proyectos-imagenes.[page.language] }}</h1>
					{% for imagen in page.imagenes %}
						{% if forloop.first %}
						<div class="imagenFullScreen activo" id="imagen{{ forloop.index }}" style="background-image: url(/imagenes/proyectos/{{ page.slug }}-{{ forloop.index }}.jpg); ">
							<h2>{{ imagen.titulo }}</h2>
						</div>
						{% else %}
						<div class="imagenFullScreen" id="imagen{{ forloop.index }}" style="background-image: url(/imagenes/proyectos/{{ page.slug }}-{{ forloop.index }}.jpg); ">
							<h2>{{ imagen.titulo }}</h2>
						</div>
						{% endif %}
					{% endfor %}
					<div class="infoImagenesProyecto">
						<div class="captionImagenes">
							{% for imagen in page.imagenes %}
								{% if forloop.first %}
								<div class="activo" id="caption{{ forloop.index }}"><p>“{{ imagen.caption }}”</p></div>
								{% else %}
								<div id="caption{{ forloop.index }}"><p>“{{ imagen.caption }}”</p></div>
								{% endif %}
							{% endfor %}
						</div>
						<div class="selectorImagenes">
							<ul>
								{% for imagen in page.imagenes %}
									{% if forloop.first %}
									<li class="activo"><a href="#{{ forloop.index }}">{{ forloop.index }}</a></li>
									{% else %}
									<li><a href="#{{ forloop.index }}">{{ forloop.index }}</a></li>
									{% endif %}
								{% endfor %}
							</ul>
						</div>
					</div>
				</section>
			</div>
		</div>
		<script src='/javascripts/funciones-portfolio-proyecto.js' type='text/javascript'></script>
		<script src='/javascripts/cabecera-sombra.js' type='text/javascript'></script>
		{% include _scripts-portfolio-proyectos-bottom.html %}
	</body>
</html>