---
layout: default
---

<html>
					<h3>
						h3. Lorem ipsum dolor sit amet.
					</h3>
					
					<div>
						Turbulence Structure Laboratory is a research laboratory at the School of Mechanical Engineering, Tel Aviv University, studying the structure of turbulent flows.
					</div>
					
					
					<div>
						<strong>Turbulence</strong> it is a disordered motion of fluid that has enormous practical importance. We believe that detailed experiments, jointly performed with the numerical simulations and leaded by the theoretical predictions will help us gaining better insight into the structure of turbulence.
					</div>
					
					<div>
						We <strong>develop</strong> <strong>new measurement techniques</strong>, both <strong>hardware</strong> and <strong>software</strong>, all devoted to <strong>turbulence</strong> research. Two outstanding examples are <strong>multi-hot-cold-wire anemometers</strong> and <strong>3D particle tracking velocimetry</strong>.
					</div>
					
					<h3>
						h3. Lorem ipsum dolor sit amet.
					</h3><img alt="140x140" src="http://lorempixel.com/140/140/" class="img-circle">
					<p>
						Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
					</p> <button type="button" class="btn btn-info btn-sm active">More ...</button>
					<h3>
						h3. Lorem ipsum dolor sit amet.
					</h3><img alt="140x140" src="http://lorempixel.com/140/140/" class="img-circle">
					<p>
						Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
					</p> <button type="button" class="btn btn-info btn-sm">Default</button>
				</div>
				<div class="col-md-4 column">
					<p class="text-left">
						<h3> Open positions</h3>
					</p>
					
					<div>
						We're looking for M.Sc., Ph.D. students and postdocs on the hardware and software development for new experimental methods, physics of turbulence, particles/bubbles/droplets in fluids, bio-fluid dynamics and biology - turbulence interactions.
					</div>
					
					<div>
						Send your CV and research interests using the e-mail address of Prof. Alex Liberzon
					</div>
					
</html>